<div class="card m-3 p-4">
    <%= form_with(model: @campaign) do |f| %>
        <% if @campaign.errors.any? %>
            <div class="alert alert-warning">
                <h2><%= pluralize(@campaign.error.count, "error")%> Unable to save this campaign </h2>
                <ul>
                    <% @campaign.error.each do |e| %>
                        <li><%= e.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>

        <div class="field">
            <%= f.label :description %>
            <%= f.text_field :description %>
        </div>

        <div class="actions">
            <%= f.submit %>
        </div>
    <% end %>
    <%= link_to "Back", campaigns_path %>
</div>
