<!DOCTYPE html>
<html>
  <head>
    <title>Les Épis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  </head>

  <body class='body'>
    <header>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    <!---------- NAVBAR ---------->
    <%= render 'shared/navbar'%>
    <!------------ END OF NAVBAR --------->
    </header>
    <div class="yield-content">
      <%= yield %>
    </div>
    <footer class='footer'>
      <h5>A family initiative</h5>
      <p>EmmaLabs &copy; 2020</p>
    </footer>
  </body>
</html>
